<!doctype html>
<html lang="en">

<head>
    <title>Users - {{ user.id }} - Edit</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" 
        crossorigin="anonymous">
</head>

<body class="bg-dark text-light pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center my-3">
            <h4 class="text-info">Edit User {{ user.id }}</h4>
        </div>

        <div class="row my-3">
            <div class="col">
                <form action="update/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fName"><h5>First name:</h5></label>
                        <input type="text" class="form-control w-75" id="fName" name="fName" 
                            value="{{ user.first_name }}">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.extra_tags == 'fName' %}
                                        <p class="text-danger"><em>{{ message }}</em></p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lName"><h5>Last name:</h5></label>
                        <input type="text" class="form-control w-75" id="lName" name="lName" 
                        value="{{ user.last_name }}">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.extra_tags == 'lName' %}
                                        <p class="text-danger"><em>{{ message }}</em></p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email"><h5>Email:</h5></label>
                        <input type="text" class="form-control w-75" id="email" name="email" 
                        value="{{ user.email }}">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.extra_tags == 'email' %}
                                        <p class="text-danger"><em>{{ message }}</em></p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success">Update</button>
                        <a href="/" class="btn btn-outline-primary ml-2">Back</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" 
        crossorigin="anonymous"></script>
</body>

</html>